body {
  background-color: black;
}
.main {
  max-width: 350px;
  margin: 20px auto;
}
.form-div {
  text-align: center;
}
.form-div input {
  width: 250px;
}
.LeftColumn {
  float: left;
  width: 40%;
  padding: 20px;
  overflow: hidden;
}
.TitleRow {
  color: white;
}
.Title {
  color: white;
  font-size: 50px;
  font-family: fantasy;
  font-variant: small-caps;
  padding-left: 20%;
}
.StartGame {
  background-color: black;
  color: white;
  font-size: 50px;
  font-family: fantasy;
  font-variant: small-caps;
}
.RegularText {
  color: white;
  font-size: 20px;
  font-family: fantasy;
  font-variant: small-caps;
}
.FormText {
  color: white;
  font-size: 50px;
  font-family: fantasy;
  font-variant: small-caps;
}
.TitleText {
  color: red;
  margin: 50;
  padding-right: 30px;
  padding-left: 80px;
}
.ArenaMap {
  border: 3px solid black;
  position: absolute;
  height: 80%;
  width: 70%;
  overflow: scroll;
  background-color: lightgray;
  font-family: fantasy;
  font-variant: small-caps;
}
.MapBorder {
  overflow: hidden;
  margin: 10 auto;
}
.RightColumn {
  float: right;
  color: white;
  width: 25%;
  overflow: hidden;
  /*padding-top: 10px;*/
  font-family: fantasy;
  font-variant: small-caps;
}
.CurrentVehicle {
  color: white;
  padding-left: 30px;
  font-size: 32px;
  font-family: fantasy;
  font-variant: small-caps;
}
.CarInset {
  padding-left:15px;
  float: left;
  font-size: 24px;
}
.CarStats {
  padding-left: 15%;
  width: 150px;
  float: right;
  fill: black;
  font-size: 24px;
  position:absolute;
}
.Options {
  background: black;
  color: white;
  font-size: 24px;
  font-family: fantasy;
  font-variant: small-caps;
}
.ActionControls {
  padding-top: 410px;
  padding-left: 35px;
  color: white;
  font-size: 32px;
  /*position:absolute;*/
  /*position:absolute;bottom:0;*/

/*bottom: -1;*/
  /*background-color: black;*/
}
.Reticle {
  stroke: red;
  stroke-width: 2;
  fill: none;
  font-size: 32px;
  font-family: fantasy;
  font-variant: small-caps;
}
.ReticleText {
  stroke: lightYellow;
  stroke-width: 1;
  fill: red;
  font-size: 32px;
  font-family: fantasy;
  font-variant: small-caps;
}
.FiringArcGraduation {
  fill: none;
  stroke: red;
  /* strokeWidth: 5; */
  opacity: 0.8;
}
.FiringArcGraduationText {
  fill: red;
  font-size: 16px;
  font-family: fantasy;
  font-variant: small-caps;
  opacity: 1;
}
.FiringArcFill {
  fill: yellow;
  /* stroke: orange */
  /* strokeWidth: 5 */
  opacity: 0.20;
}
.Damage {
  stroke: red;
  stroke-width: 2;
  fill: none;
  font-size: 26px;
  font-family: fantasy;
  font-variant: small-caps;
}
.DamageText {
  fill: black;
  stroke: none;
  font-size: 16px;
  font-family: fantasy;
  font-variant: small-caps;
}
.MissedShot {
  fill: white;
  stroke: red;
  stroke-width: 1;
}
.MissedShotText {
  font-size: 16px;
  font-family: sans-serif;
  stroke: red;
  fill: orange;
  stroke-width: 1;
}
.StopSign {
  fill: red;
  stroke: white;
}
.Wall {
  fill: black;
  stroke: black;
}
.Timekeeping {
  font-size: 26px;
  font-family: fantasy;
  font-variant: small-caps;
  display: inline;
  margin: 10px;
}
.NavOptions {
  background: black;
  color: white;
  font-size: 40px;
  font-family: fantasy;
  font-variant: small-caps;
}
